# Dependencies
/node_modules

# Production
/dist
/build

# Environment variables
.env
.env.local

# Logs
/logs
*.log

# Coverage
/coverage

# IDE
/.vscode
/.idea

# OS
.DS_Store
Thumbs.db

# Markdown files (except README.md)
*.md
!README.md

# Other
nul
